<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <h1 style="color: slateblue;">Bienvenidos</h1>

</body>
</html>

<head>
    <title>Ulacit</title>
    <link rel="stylesheet" href="~/css/style.css">
    @section Scripts {
    <script src="~/js/login/login.js"></script>
    }
</head>
<div>
    <h1>Bienvenidos a canvas ULACIT</h1>
    <div class="logo">
        <img src="@Url.Content(" ~ /imag/LogoU.png")" alt="logo">
    </div>
    <div class="login-form">
        <h4 class="Usuario">Usuario</h4>
        <input type="text" id="txtUsuario" placeholder="Usuario" class="">
        <h4 class="Contraseña">Contraseña</h4>
        <input type="password" id="txtContrasena" placeholder="Contraseña">
        <button onclick="iniciarSesion()" class="login-btn">Iniciar Sesión</button>
        <p id="mensajeError" style="color:red;"></p>


    </div>
</div>