
*.dll
*.cache
ProyectoADIS/bin/Debug/net8.0/ProyectoADIS.dll
*.dll
*.exe
*.pdb
*.cache
*.editorconfig
*.pdb
*.pdb
ProyectoADIS/bin/Debug/net8.0/ProyectoADIS.dll
*.pdb
*.dll
*.exe
*.pdb
*.editorconfig
ProyectoADIS/.vs/ProyectoADIS/v17/.suo
