@{
    ViewData["Title"] = "AsignacionController";
}

<head>
    <link rel="stylesheet" href="~/css/Asignacion.css" />
</head>

<h2 style="color: purple;">Calificar Asignaciones Individuales</h2>

<script src="~/js/Calificiones/Calificaciones.js"></script>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Estudiante</th>
            <th>Asignación Subida a Tiempo</th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nombre del Estudiante</td>            
            <td style="font-weight: bold;">SÍ/NO</td>
           
           
        </tr>
    </tbody>
</table>

<div class="btn-container">
    
    <button class="btnCalificar" data-id="1">Calificar</button>
    <button class="btnModificarNota" data-id="1" disabled>Modificar Nota</button>
</div>



