
@{
    ViewData["Title"] = "Registro de Asistencia";
}
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h3 class="card-title titleLogin">Registro de Asistencia</h3>
        </div>
        <div class="card-body">
            <form asp-action="GuardarAsistencia" method="post">
                <div class="form-group">
                    <label for="semana">Semana:</label>
                    <select class="col-4  " name="semana">
                        <option value="1">Semana 1</option>
                        <option value="2">Semana 2</option>
                        <option value="3">Semana 3</option>
                        <option value="4">Semana 4</option>
                        <option value="5">Semana 5</option>
                        <option value="6">Semana 6</option>
                        <option value="7">Semana 7</option>
                        <option value="8">Semana 8</option>
                        <option value="9">Semana 9</option>
                        <option value="10">Semana 10</option>
                        <option value="11">Semana 11</option>
                        <option value="12">Semana 12</option>
                        <option value="13">Semana 13</option>
                        <option value="14">Semana 14</option>
                        <option value="15">Semana 15</option>
                    </select>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Asistencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estudiante 1</td>
                            <td>
                                <select name="asistencia[1]">
                                    <option value="Presente">Presente</option>
                                    <option value="Ausente">Ausente</option>
                                    <option value="Justificado">Justificado</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Estudiante 2</td>
                            <td>
                                <select name="asistencia[2]">
                                    <option value="Presente">Presente</option>
                                    <option value="Ausente">Ausente</option>
                                    <option value="Justificado">Justificado</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn" style="background-color: #70009c; color: #fff">Guardar</button>
            </form>

        </div>
    </div>
    <a href="@Url.Action("Detalle", "Curso")" class="btn mt-5" style="background-color: #70009c; color: #fff">Volver a los modulos</a>
</div>

