@{
    ViewData["Title"] = "Cursos";
}

@* @model List<Curso> <!-- Suponiendo que tengas una clase "Curso" definida en tu proyecto --> *@

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Cursos</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
        <div class="card-header text-center">
            <h3 class="card-title titleLogin">Lista de Cursos</h3>
        </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Curso 1</h5>
                        <img class="w-100" src="~/img/Curso1.png"/>
                    <p class="card-text">Nota: 45%</p>
                        <a href="@Url.Action("Detalle", "Curso")" style="background-color: #70009c; color: #fff" class="btn btn-purple">Ver detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Curso 2</h5>
                        <img class="w-100" src="~/img/Curso1.png" />
                        <p class="card-text">Nota: 25%</p>
                        <a href="@Url.Action("Detalle", "Curso")" style="background-color: #70009c; color: #fff" class="btn btn-purple">Ver detalles</a>
                    </div>
                </div>
        </div>
        <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Curso 3</h5>
                        <img class="w-100" src="~/img/Curso1.png" />
                        <p class="card-text">Nota: 65%</p>
                        <a href="@Url.Action("Detalle", "Curso")" style="background-color: #70009c; color: #fff" class="btn btn-purple">Ver detalles</a>
                    </div>
                </div>
        </div>
        <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Curso 4</h5>
                        <img class="w-100" src="~/img/Curso1.png" />
                        <p class="card-text">Nota: 85%</p>
                        <a href="@Url.Action("Detalle", "Curso")" style="background-color: #70009c; color: #fff" class="btn btn-purple">Ver detalles</a>
                    </div>
                </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>

