#containerBotones {
    text-align: center;
}

    #containerBotones button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #70009c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

        #containerBotones button:hover {
        background-color: #6a5acd;
        }
