@{
    ViewData["Title"] = "Portfolio";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Portfolio.css/assignmentUpdateForm.css">
    <link rel="stylesheet" href="~/css/toastr.min.css">
    <title>Portfolio</title>
</head>
<body>

    <button class="open-button d-none" onclick="openForm()">Publicar Asignación</button>

    <!-- The form -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h1 class="card-title title-color">Bienvenidos a Canvas ULACIT</h1>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group ">
                                <label for="username">Nombre Asignación:</label>
                                <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese el nombre">
                            </div>

                            <div class="form-group mt-2">
                                <label for="Descripcion">Descripción</label>
                                <textarea class="form-control" id="txtDescripcion" placeholder="Ingrese una descripción"></textarea>
                            </div>

                            <div class="form-group mt-2 ">
                                <label for="valor">Valor</label><br />
                                <input class="form-control" type="number" placeholder="Ingrese el valor de la tarea" name="valor" required>
                            </div>

                            <div class="form-group mt-2">
                                <label for="fecha">Curso(s)</label><br />
                                <select name="curso" id="curso">
                                    <option value="" disabled selected>Seleccione un curso</option>
                                    <option value="curso1">Curso 1</option>
                                    <option value="curso2">Curso 2</option>
                                    <option value="curso3">Curso 3</option>
                                </select>
                            </div>

                            <div class="form-group mt-2 ">
                                <label for="fecha">Fecha de Entrega</label><br />
                                <input class="form-control" type="datetime-local" placeholder="Seleccione la fecha de entrega" name="fecha" required>
                            </div>

                            <div class="form-group mt-2 ">
                                <label for="fecha">Tipo de Entrega</label><br />
                                <input class="form-control" type="text" placeholder="Seleccione el tipo de entrega" name="tipo" required>
                            </div>

                            <div class="form-group mt-2">
                                <label for="fecha">Semana</label><br>
                                <select class="form-control" name="semana" id="semanaInput" placeholder="Seleccione la semana de entrega" required>
                                    <option value="" disabled selected>Seleccione la semana de entrega</option>
                                    <option value="semana1">Semana 1</option>
                                    <option value="semana2">Semana 2</option>
                                    <option value="semana2">Semana 3</option>
                                    <option value="semana2">Semana 4</option>
                                    <option value="semana2">Semana 5</option>
                                    <option value="semana2">Semana 6</option>
                                    <option value="semana2">Semana 7</option>
                                    <option value="semana2">Semana 8</option>
                                    <option value="semana2">Semana 9</option>
                                    <option value="semana2">Semana 10</option>
                                    <option value="semana2">Semana 11</option>
                                    <option value="semana2">Semana 12</option>
                                    <option value="semana2">Semana 13</option>
                                    <option value="semana2">Semana 14</option>
                                    <option value="semana2">Semana 15</option>
                                </select>
                                <small id="semanaError" style="color: red; display: none;">Por favor, seleccione una semana válida entre semana1 y semana15.</small>
                            </div>

                            <div class="form-group mt-2 ">
                                <label for="fecha">Comentarios</label><br />
                                <input class="form-control" type="text" placeholder="Agregue comentario" name="comentarios">
                            </div>

                            <div class="form-group mt-2 ">
                                <label for="fecha">Adjuntar documento</label><br />
                                <input class="form-control" type="file" placeholder="Seleccione el documento a subir" name="documento" required>
                            </div>

                            <button type="button" onclick="closeForm();" class="btn open-button mt-4">Publicar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="~/js/Portfolio/Index.js"></script>
        <script src="~/js/toastr.min.js"></script>
    }



</body>
</html>


