@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido(a) a CANVAS</h1>
    <img src="~/img/home.png" class="w-100" alt="">
</div>

<script src="~/js/Curso/Index.js"></script>